* {
  margin: 0:
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

p{
  margin: 0.5em 0 0.5em 0;
  padding: 10px;
}


.topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #999;
    padding: 5px;
  }
  
  .topnav a:visited,
  .topnav a:link {
    color: black;
    text-decoration: none;
      font-size: 18px;
      width: 100%;
      padding: 0px;
    }
  
  
  .topnav a:hover {
    background-color: whitesmoke;
    color: black;
  }
  
  .topnav a.active {
    color: black;
    text-decoration: none;
  }


  main {
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
  }

  aside,
  article {
    padding: 2em;
  }


  article {
    width: 75%;
  }

 
  .row {
    display: flex;
  }
  
  .column {
    flex: 100%;
  }
  

footer {
  display: flexbox;
  text-align: center;
}


@media only screen and (min-width: 768px) {
   
  main {
    display: flexbox;
  }
  
}

